* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

body {
  padding: 0;
}

.logo__header {
  text-align: center;
  margin-top: 0.75em;
}

.nav__top {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 1.5em 1em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 600;
}

.road__assistance {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: center;
  padding-bottom: 1em;
}

.phone__icon {
  display: flex;
  align-items: center;
}

.road__assistance__div {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
}

.road__assistance__text {
  opacity: 0.7;
  font-weight: 500;
}

h1 {
  margin-left: 0em;
}

.section__1 {
  
}

.section__1 figure {
  margin: 0;
}

.section__1 img {
  width: 100%;
  height: 25vh;
}

blockquote {
  border-left: 1px solid black;
  padding-left: 1em;
}

.section__3 {
  display: flex;
  flex-direction: row;
  flex-direction: column;
}

.section__3 h2 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.3;
}

.contact {
  background-color: #ff6433;
  color: white;
  height: 16em;
  padding: 2em 1.5em;
}

.contact button {
  background-color: black;
  color: white;
  padding: 0.5em 1.5em;
  border-radius: 0.75rem;
  font-weight: 600;
  color: white;
  border: none;
  width: 40%;
  height: 3.5em;
  margin-top: 2em;
}

.section__3 figure img {
  width: 100%;
}

.section__3 figure:first-of-type {
  height: 10em;
  width: 100%;
  margin: 0;
}

#mechanic {
  height: 20em;
}

#pliers {
  height: 100%;
}

.section__3 figure:last-of-type {
  height: 20em;
  object-fit: contain;
  width: 100%;
  margin: 0;
}

.footer__top {
  background-color: #1e1b1b;
  opacity: 0.98;
  color: white;
}

.footer__top h3 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.3;
  padding: 1.5em 1em;
  margin-top: 0;
}

.socials {
  display: flex;
  justify-content: space-around;
}

.footer__top__left {
  height: 30vh;
}

.footer__top__right {
  padding: 1em 1.5em;
}

.footer__top__right p:nth-of-type(odd) {
  opacity: 0.6;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0;
}

.footer__top__right p:nth-of-type(even) {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 0.2em;
}

.footer__bottom {
  background-color: #1e1b1b;
  color: white;
  text-align: center;
}

.logo__footer,
.copyright,
.nav__footer {
  width: 100%;
}

.logo__footer {
  padding: 1em;
}

.footer__bottom ul {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
  font-weight: 600;
}

.copyright {
  color: #939191;
  margin-bottom: 0;
  padding: 1em;
}

.footer__bottom ul a {
  color: white;
}

.sidebar__1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sidebar__2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 2em;
}

.features {
  display: flex;
  flex-direction: column;
}

.features img {
  height: 1.5em;
  width: 1.5em;
}

.feature__heading {
  display: flex;
  flex-direction: row;
}

.feature__heading h5 {
  margin: 0 0 0 1em;
}

.contact h2 {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .nav__bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo__header {
    width: 35%;
    margin-top: 1.3em;
  }

  .navigation {
    width: 65%;
  }

  .road__assistance {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .road__assistance__div {
    display: flex;
    flex-direction: row;
    gap: 2;
    padding-right: 2em;
  }

  .road__assistance__div p {
    margin: 0.2em;
  }

  .sidebar__1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #carwash {
    height: 2.7em;
  }

  .services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
  }
}

  @media screen and (min-width: 1024px) {
    .nav__bar {
      display: flex;
      flex-direction: row;
      width: 100vw;
      height: 5.625em;
    }
  
    .logo__header {
      width: 40vw;
    }
  
    .navigation {
      width: 60vw;
      display: flex;
      font-size: 1em;
      flex-direction: row;
      align-items: center;
    }
  
    .navigation nav {
      width: 60%;
    }
  
    .navigation nav ul {
      display: flex;
      gap: 0.9em;
      justify-content: center;
    }
  
    .road__assistance {
      width: 40%;
      display: flex;
      justify-content: flex-start;
      border-left: 1px solid #93919160;
      padding-left: 1em;
      height: 50%;
      align-items: center;
      padding-top: 1em;
    }
    .road__assistance__nr {
      font-size: 1.125em;
    }
  
    .road__assistance__div {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

h1 {
  padding-left: 8em;
}

    main {
      width: 100vw;
      margin: 0;
    
    }

    .main__content{
      display: flex;
      flex-direction: row-reverse;
      margin: 0 auto;
      width: 70vw;
      gap: 2em;
      

    }

    .article {
      width: 70%;
    }

    .sidebar {
      display: flex;
      flex-direction: column;
      width: 30%;
      gap: 1em;
      
    }

    .sidebar__1 {
      display: flex;
      flex-direction: column;
      height: 60%;
      background-color: #f1f1f1;
    }

.sidebar__2 p{
 font-size: 0.7rem;
}

    .services {
      display: flex;
      flex-direction: column;
      gap: 1em;
      width: 100%;
      padding: 1em;
    }

    .service {
      background-color: white;
      padding-top: 2em;

    }

    .section__1 {
      width: 100%;
    }

    .section__3 {
      display: flex;
      flex-direction: row;
      width: 100vw;
      position: relative;
      height: 50vh;
    }
  
    .section__3 figure:first-of-type,
    .section__3 figure:last-of-type {
      width: 50vw;
      height: 100%;
    }
  
    #mechanic {
      height: 100%;
    }
  
    .contact {
      position: absolute;
      width: 40%;
      height: 100%;
      left: 13em;
    }
  
    .contact h2 {
      font-size: 2rem;
    }
  
    .contact button {
      background-color: black;
      color: white;
      border-radius: 0.75rem;
      font-weight: 600;
      color: white;
      border: none;
      width: 25%;
      height: 4em;
      margin-bottom: 3em;
      position: absolute;
      top: 60%;
    }
  
    .footer__top {
      display: flex;
      height: 60vh;
    }
  
    .footer__top__left {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 3em 10em 0em 0;
      text-align: left;
    }
  
    .footer__top__left h3 {
      font-size: 3rem;
      margin-bottom: 0;
      padding: 2em 0 2em 0;
      margin-left: 1em;
    }
  
    .socials {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding-left: 3em;
      gap: 1em;
    }
  
    .footer__top__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .footer__top__right p:nth-of-type(odd) {
      opacity: 0.6;
      font-size: 1.125rem;
      font-weight: 600;
      margin-bottom: 0;
    }
  
    .footer__top__right p:nth-of-type(even) {
      font-size: 1.5rem;
      font-weight: 600;
      margin-top: 0.2em;
    }
  
    .footer__bottom {
      display: flex;
      height: 15vh;
      align-items: center;
    }
  
    .footer__bottom ul {
      display: flex;
      gap: 2.5em;
    }
}
